{% assign _mc_u  = site.newsletter.mailchimp_action | split: "u="  | last | split: "&" | first %}
{% assign _mc_id = site.newsletter.mailchimp_action | split: "id=" | last | split: "&" | first %}

<div class="newsletter-widget">
  <h3 class="newsletter-widget__title">Newsletter</h3>
  <p class="newsletter-widget__desc">New posts, straight to your inbox.</p>
  <form class="newsletter-widget__form"
        action="https://diepdao.us11.list-manage.com/subscribe/post"
        method="POST"
        target="_blank"
        rel="noopener noreferrer">
    <input type="hidden" name="u"  value="{{ _mc_u }}">
    <input type="hidden" name="id" value="{{ _mc_id }}">
    <div style="position:absolute;left:-5000px" aria-hidden="true">
      <input type="text" name="b_{{ _mc_u }}_{{ _mc_id }}" tabindex="-1" value="">
    </div>
    <input
      type="email"
      name="MERGE0"
      class="newsletter-widget__input"
      placeholder="your@email.com"
      required
      aria-label="Email address"
    />
    <button type="submit" class="newsletter-widget__btn">Subscribe</button>
  </form>
  <p class="newsletter-widget__unsub-link">
    <a href="/newsletter/#unsubscribe">Unsubscribe</a>
  </p>
</div>
