<div class="wordmap">
  <h3 class="wordmap__title">Topics</h3>
  <div class="wordmap__cloud">
    <a href="{{ site.baseurl }}/categories/#ai"               class="wm-1">AI</a>
    <a href="{{ site.baseurl }}/categories/#finance"          class="wm-1">Finance</a>
    <a href="{{ site.baseurl }}/categories/#blockchain"       class="wm-1">Blockchain</a>
    <a href="{{ site.baseurl }}/categories/#computer-science" class="wm-1">Computer Science</a>
    <a href="{{ site.baseurl }}/tags/#machine-learning"       class="wm-2">Machine Learning</a>
    <a href="{{ site.baseurl }}/tags/#deep-learning"          class="wm-2">Deep Learning</a>
    <a href="{{ site.baseurl }}/tags/#nlp"                    class="wm-2">NLP</a>
    <a href="{{ site.baseurl }}/tags/#big-data"               class="wm-2">Big Data</a>
    <a href="{{ site.baseurl }}/tags/#generative-ai"          class="wm-2">Generative AI</a>
    <a href="{{ site.baseurl }}/tags/#python"                 class="wm-3">Python</a>
    <a href="{{ site.baseurl }}/tags/#java"                   class="wm-3">Java</a>
    <a href="{{ site.baseurl }}/tags/#algorithms"             class="wm-3">Algorithms</a>
    <a href="{{ site.baseurl }}/tags/#llm"                    class="wm-3">LLM</a>
    <a href="{{ site.baseurl }}/tags/#fintech"                class="wm-3">FinTech</a>
    <a href="{{ site.baseurl }}/tags/#defi"                   class="wm-3">DeFi</a>
    <a href="{{ site.baseurl }}/categories/#personal"         class="wm-3">Personal Growth</a>
    <a href="{{ site.baseurl }}/tags/#kafka"                  class="wm-4">Kafka</a>
    <a href="{{ site.baseurl }}/tags/#spark"                  class="wm-4">Spark</a>
    <a href="{{ site.baseurl }}/tags/#smart-contracts"        class="wm-4">Smart Contracts</a>
    <a href="{{ site.baseurl }}/tags/#cryptography"           class="wm-4">Cryptography</a>
    <a href="{{ site.baseurl }}/tags/#trading"                class="wm-4">Trading</a>
    <a href="{{ site.baseurl }}/tags/#data-engineering"       class="wm-4">Data Engineering</a>
    <a href="{{ site.baseurl }}/tags/#docker"                 class="wm-4">Docker</a>
    <a href="{{ site.baseurl }}/tags/#scala"                  class="wm-5">Scala</a>
    <a href="{{ site.baseurl }}/tags/#merkle-tree"            class="wm-5">Merkle Tree</a>
    <a href="{{ site.baseurl }}/tags/#consensus"              class="wm-5">Consensus</a>
    <a href="{{ site.baseurl }}/tags/#risk-management"        class="wm-5">Risk Management</a>
    <a href="{{ site.baseurl }}/tags/#aws"                    class="wm-5">AWS</a>
    <a href="{{ site.baseurl }}/tags/#vietnam"                class="wm-5">Vietnam</a>
    <a href="{{ site.baseurl }}/tags/#singapore"              class="wm-5">Singapore</a>
  </div>
</div>
