---
layout: default
---

<div class="home-grid">

  <!-- LEFT: Word Map -->
  <aside class="home-grid__left">
    {% include wordmap.html %}
  </aside>

  <!-- CENTER: Posts -->
  <div class="home-grid__posts">
    {{ content }}
    <h3 class="archive__subtitle">Recent Posts</h3>
    {% for post in site.posts %}
      {% include archive-single.html %}
    {% endfor %}
  </div>

  <!-- RIGHT: Tag Cloud -->
  <aside class="home-grid__right">
    {% include tagcloud.html %}
  </aside>

</div>

{% if site.comments.provider == "giscus" %}
<section class="home-comments">
  <h3 class="archive__subtitle">Comments</h3>
  <script src="https://giscus.app/client.js"
    data-repo="{{ site.comments.giscus.repo }}"
    data-repo-id="{{ site.comments.giscus.repo_id }}"
    data-category="{{ site.comments.giscus.category }}"
    data-category-id="{{ site.comments.giscus.category_id }}"
    data-mapping="{{ site.comments.giscus.mapping | default: 'pathname' }}"
    data-reactions-enabled="{{ site.comments.giscus.reactions_enabled | default: '1' }}"
    data-emit-metadata="{{ site.comments.giscus.emit_metadata | default: '0' }}"
    data-input-position="{{ site.comments.giscus.input_position | default: 'top' }}"
    data-theme="{{ site.comments.giscus.theme | default: 'preferred_color_scheme' }}"
    data-lang="{{ site.comments.giscus.lang | default: 'en' }}"
    {% if site.comments.giscus.lazy %}data-loading="lazy"{% endif %}
    crossorigin="anonymous"
    async>
  </script>
</section>
{% endif %}
